
*{
    margin: 0px;
    padding: 0px;
}
header nav ul div li{
    color :rgb(255, 255, 255);
}
header nav{
    background-color: rgb(0, 0, 0);
    width: 80%;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul div li{
    margin: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    list-style:none ;
}
header nav ul div{
    display: flex;
    margin: 20px;
}
header{
    justify-content: center;
    display: flex;
}
header nav ul li img{
height: 30px;
width: 30px;
}
.figure1{
    display: flex;
    justify-content: center;
}
.image1{
    width: 100%;  
}
.image2{
    width: 600px;  
}
.jesaispas{
    display: flex;
    justify-content: space-between;
}
