
*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    width: 80%;
    position:fixed;
    z-index: 99;
    left: 50%;
    margin-left: -40%;
}
header nav{
    background-color: rgb(0, 0, 0);
    width: 100%;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul div{
    display: flex;
    margin: 20px;
}
header nav ul div li{
    margin: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    list-style:none ;
}
header nav ul div li img{
height: 30px;
width: 30px;
}
header nav ul .supercellid li img{
    height: 20px;
    width: 100px;
}
.sectionOne figure img{
    
    width: 100%;
}   
.sectionTwo{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.sectionTwo figure img{
    height: 489px;
    width: 980px;
    position: relative;
    left: -316px;
}
.sectionTwo div{
    padding: 50px;
}
.sectionThree {
    display: flex;
}
.sectionThree .left-side figure img{
    height: 500px;
    width: 970px;
    margin: 50px;
    position: relative;
    left: -200px;
}
.sectionThree .right-side h2{
    margin: 30px;
    font-size: 50px;
    font-family: sans-serif;
}
.sectionThree .right-side p{
    font-size: 19px;
    line-height: 30px;
    margin: 30px;
}
.appstore{
    height: 50px;
    width: 147px;
}
.googleplay{
    height: 50px;
    width: 166px;
}
.imgsection3{
    width: 330px;
    display: flex;
    justify-content: space-between;
}
.sectionFour img{
    height: 300px;
    width:300px;
}
.sectionFour { 
    display: flex;
    justify-content: space-between;
}
.sectionFour div{
    width: 400px;
    margin: 100px;
}
.sectionFour .nita{
    margin: 5px;
}
.sectionFour .timeline img{
    height: 2px;
    width: 1200px;
    margin: 0px;
    padding: 0px;
}
.sectionFive div{
    display: flex;
    justify-content: space-between;
}
.stayuptodate{
    background-image: url(./bg_gamesocial_brawlstars.jpg);
}
.sectionSix{
    display: flex;
    justify-content: space-between;
}