
*{
    margin: 0px;
    padding: 0px;
}
header nav ul div li{
    color :rgb(255, 255, 255);
}
header nav{
    background-color: rgb(0, 0, 0);
    width: 80%;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul div li{
    margin: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    list-style:none ;
}
header nav ul div{
    display: flex;
    margin: 20px;
}
header{
    justify-content: center;
    display: flex;
}
header nav ul li img{
height: 30px;
width: 30px;
}
.sectionOne{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.sectionOne figure img{
    height: 500px;
    width: 1600px;
}   
.sectionTwo{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.sectionTwo figure img{
    height: 300px;
    width: 600px;
}
.sectionTwo div{
    padding: 50px;
}